<h1 class="text-white">Publicaciones</h1>
<div class="jumbotron mt-4" style="background: rgba(255, 255, 255, 0.699);">
    <div class="col">
        <div class="card text-dark bg-light m-4" *ngFor="let p of ArrayPosts">
            <!--<img src="..." class="card-img-top" alt="...">-->
            <div class="card-body bg-white">
                <a (click)="navegarUsuario(p.userId)" class="text-decoration-none" style="cursor: pointer;">
                    <h3 class="text-info fas fa-user-secret"> {{usuario(p.userId)}}</h3>
                </a>
                <hr>
                <h5 class="card-title">"{{p.title.toUpperCase()}}"</h5>
                <p><em>Publicado recientemente</em></p>
                <p class="card-text mt-4 mr-4 ml-4">{{p.body}}</p>
            </div>
            <button (click)="navegarComentarios(p.id)" class="btn btn-block btn-light">
                <small class="text-muted"><i class="fas fa-comments"></i> Ver comentarios sobre esta publicación ({{comentarios(p.id)}})</small>
            </button>
        </div>
    </div>
</div>